body {
    font-family: "Plus Jakarta Sans", serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}
.container {
    flex: 1;
    max-width: 100vw !important;
}
.navbar {
    height: 5rem;
    background-color: white;
}
.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}
.nav-link {
    color: #222222 !important;
}

/* foorter */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links , .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    width: 100vw;
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* card */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top {
    border-radius: 2rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body {
    padding: 0 !important;
}
.card-text {
    font-weight: 400 !important;
}

.row {
    padding-left: 3rem;
    padding-right: 3rem;
}

.listing-link {
    text-decoration: none;
}

/* card effect */

.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* show listing */

.show-img {
    height: 40vh;
    width: 50vw !important;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    
}
/* map */
#map {
    height: 50vh;
    width: 60vw;
}

.navbar {
    height: 5rem; /* Default size */
    transition: height 0.3s ease; /* Smooth transition */
}

.navbar.expanded {
    height: 15rem; /* Increased size when toggled */
}

@media (max-width:500px) {
    .show-card {
        margin-left: 0 !important;
    }
    .show-img {
        width: 80vw !important;
    }
    #map {
        width: 80vw;
    }
    .list-map {
        margin-left: 0 !important;
    }
    .row {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .edit-btn {
        margin-left: 0 !important;
    }
    .list-review {
        margin-left: 0 !important;
    }
    .list-title {
        margin-left: 0 !important;
    }
    /* .navbar {
        height: 15rem;
    } */
}